body{
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 40px;    
    color: #424242;
    background: #fff;
}


/* Grid */

.header{

padding: 0 0;
margin: 0 0;
height: 0;

}

.div{

    padding: 0;
    margin: 0;
}

.page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 100vh;
    max-width: 1280px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* Header */

.header-logo {
    background: url(../img/header-img.png) no-repeat;
    padding-top: 650px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
  }

.text{

    margin-top: 40px;
    margin-left: 100px;

}

.text-heading{

    color: #23B14D;

}

.text-desc{

    font-size: 30px;
    color: #0c6b29;
    margin-bottom: 40px;

}

.slider {
    width: 840px;
    height: 256px;
    margin: 20px 0;
    overflow: hidden;
    
}

.slider-line {
    width: 1800px;
    height: 256px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
    padding-right: 20px;
}



.image{
    margin-left: 30px;
    width: 250px;
}

.first-image{
    margin-left: 15px;
    width: 250px;
}


.last-image{
    width: 250px;
    margin-left: 30px;
}

.slider-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-next{
    text-decoration:none; /* Remove that ugly underlining */
    display: block;
    height: 50px;
    width: 50px;
    overflow:hidden;
    border-radius: 50%;
}

.slider-next::after{
    content: url(../img/right.png);   /* The code for the arrow : see the reference */
    display: block;
    color: black;
    font-size: 1px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-prev{
    text-decoration:none; /* Remove that ugly underlining */
    display: block;
    height: 50px;
    width: 50px;
    overflow:hidden;
    border-radius: 50%;
}

.slider-prev::after{
    content: url(../img/left.png);   /* The code for the arrow : see the reference */
    display: block;
    color: black;
    font-size: 1px; 
    display: flex;
    justify-content: center;
    align-items: center;
}


button {
    background: none;
    border-radius: 0;
    padding: 10px 20px;
    font-size: .9rem;
    display: inline-block;  
}

button:hover {
    background: rgb(122, 120, 118);
}

button:active {
    background: rgb(122, 120, 118);
    opacity: 0.6;
    color: #fff;
}




/*Видео*/

.video-row{
    width: 100%;
    max-width: 600px;
    height: 50vh;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.video{
    position: relative;
    padding-top: 56.25%;
    /* width: 100%; */
    width: 600px;
    background: url(../img/back.png) no-repeat center;
    background-size: 100%;
    z-index: 100;
}


.video  iframe{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    width: 600px;
    height: 100%;
}

.video:hover{
    cursor: pointer;
}

.back{
    width: 100%;
    width: 600px;
    padding-top: 56.25%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/icon-youtube.png) no-repeat center;
    background-size: 12%;
}

.back:hover{
    background-size: 14%;
}

